/*all*/
body{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
a{
	text-decoration: none;
	color: #000;
}
.container{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}
ul{
	display: flex;
	list-style-type: none;
}
h1, h4{
	text-align: center;
}

.knopka{
	font-family: Arial Black;
	text-align: center;
	margin: 35px auto 0;
	width: 350px;
	padding: 8px;
	color: #fff;
	background-color: rgb(11, 0, 136);
	transition: background .5s;
}
.knopka:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid rgb(11, 0, 136);
}



/*header*/
header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 0;
	background-color:rgb(11, 0, 136, 10);
}
header .container{
	display: flex;
	justify-content: space-between;
}
header a{
	color: #fff;
	margin-left: 10px;
	transition: all 1s;
}
header ul a:hover{
	border-bottom: 1px solid #fff;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Arial Black;
}
.logo img{
	margin-right: 5px;
	width: 50px;
}
.toggle{
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	margin-top: 10px;
	display: none;
}
.toggle1{
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	background-color:rgb(11, 0, 136, 10);
}
/*section1*/
.fon{
	background-image: url('img/header_fon.jpg');
	background-size: 100% 100%;
	height: 90vh;
	width: 100%;
}
.fon h1{
	position: relative;
	top: 300px;
	left: 0;
	right: 0;
	font-size: 50px;
	color: #fff;
}
.section1{
	margin-top: 50px;
}
.section1 .container{
	display: flex;
	justify-content: space-between;
}
.section1 .container .section_block{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
}
.section1 img{
	width: 90%;
}

/*section2*/
.section2{
	margin-top: 50px;
}
.section2 .container{
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.section2 .container .section_block{
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
}
.section2 .container .section_block .section_bloki{
	border-right: 1px solid #000;
	padding-right: 5px;
}
.section2 img{
	width: 90%;
}
.knopka1{
	text-align: center;
	margin: 3px auto;
	width: 170px;
	padding: 8px;
	color: #fff;
	background-color: rgb(11, 0, 136);
	transition: background .5s;
}
.knopka1:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid rgb(11, 0, 136);
}

/*section3*/
.section3{
	margin-top: 50px;
}
.section3 .container p{
	text-align: center;
}
.section3 .container{
	display: flex;
	justify-content: space-between;
}
.section3 .container img{
	width: 100%;
}
.section3 input[type='text']{
	width: 80%;
	border: 0;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}
.section3 input[type='comment']{
	width: 80%;
	height: 50px;
	margin-bottom: 15px;
}
.section3 button{
	font-family: Arial Black;
	text-align: center;
	width: 170px;
	padding: 8px;
	color: rgb(11, 0, 136);
	background-color: #fff;
	border: 2px solid rgb(11, 0, 136);
}
.section3 button:hover{
	color: #fff;
	background-color: rgb(11, 0, 136);
	border: 2px solid rgb(11, 0, 136);
}


/*footer*/

footer{
	margin-top: 50px;
	height: 100px;
	background-color: rgb(11, 0, 136);
}



@media only screen and (max-width: 768px) {
/*menu*/
.toggle{
	display: block;
	cursor: pointer;
}
.toggle1{
	padding-top: 20%;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.toggle1 li{
	margin-top: 20px;
	text-align: left;
}
.toggle1 ul{
	display: block;
}

/*all*/
.container{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}
.knopka{
	width: 250px;
}

/*header*/
header{
	padding: 5px;
}
header ul{
	display: none
}
.logo img{
	margin-right: 5px;
	width: 30px;
}

/*section1*/
.fon{
	background-size: cover;
	height: 500px;
}
.section1 .container{
	display: block;
}

/*section2*/
.section2 .container{
	display: block;
}
.section2 .container .section_block .section_bloki{
	margin-top: 25px;
}

/*section3*/
.section3 .section3_block img{
	display: none;
}
.section3 .section_block{
	width: 80%;
	margin: 0 auto;
}
}

@media only screen and (max-width: 320px) {
/*all*/
.knopka{
	width: 150px;
	font-size: 10px;
}
/*header*/
.logo img{
	margin-right: 5px;
	width: 20px;
}
.text_logo{
	display: none;
}
/*section1*/
.fon{
	background-size: cover;
	height: 300px;
}
.fon h1{
	display: none;
}
.section1 .container{
	display: block;
}
.section1 h1{
	font-size: 20px;
}
.section1 .container .section_block{
	display: block;
}

/*section2*/
.section2 .container .section_block{
	display: block;
}

/*section3*/
.section3{
	width: 65%;
	margin: 0 auto;
}
.section3 h1{
	font-size: 20px;
}
.section3 p{
	font-size: 10px;
}
.section3 .section_block button{
	text-align: center;
}
}
